@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gosha Sans';
  src: url('/gosha-sans/PPGoshaSans-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}